
 <html>
  <head>
    <title><%=@page_title%></title>
    <link rel='stylesheet' type='text/css' href='<%= url('/style.css') %>'>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div id='container'>

      <div id='header'>
        <a href='/'><img src='/Social-Drive.png' alt='logo image' class='logo'/></a>
        <a href='/Erregistratu' class='nav'>Erregistratu</a>
        <a href='/login' class='nav'>Log In</a>
      </div>

      <div id='main'>
        <%= yield %>
      </div>

      <div id='footer'>
        © Social Drive

    </div>

  </body>
  </html>
