<img src='trafikoa.jpg' alt='hero image' class='hero' width="800" height="400"/>
<h1 id='site-title'>SOCIAL DRIVE</h1>
<h2 id='site-subtitle'>Inork ez zaitzala inoiz ere gelditu!</h2>
<a class='button' href='/products'>Get Started</a>
